
body {
margin: 5%;
}



input.searchBox {
  font-size: 200%;
  line-height: 200%;
  height: 200%;
  padding: 10px;
  line-height: auto;
}

.results {


  li {
    border-radius: 3px;
    background-color: #eee;
    padding: 5px;


    .pull-left2 {
      float: left;
      margin-right: 10px;
    }


  }
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}