
body {
  //background-color: lighten(rgb(35, 152, 201),30%);
  background-image: url('/retina_wood.png');
  min-width: 500px;
}


.wrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
}

@media (max-width: 767px) {
  .wrapper {
    margin-left: 20%;
    margin-right: 20%;
  }

}

@card-height: 200px;
@pad: 10px;

.comfy-left {
  float: left;
  margin-right: @pad;
}

.comfy-right {
  float: right;
  margin-left: @pad;
}


.results {


  .photo {
  }

/*
  .map {
    position: absolute;
    right: 0px;
    width: @card-height;
  }
*/

  .info {
    padding: @pad;

    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    //height: @card-height;
  }

  .card {
    
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    margin: @pad;
    margin-bottom: 20px;
    //height: @card-height;

  }
}